body {
    margin: 0;
    font-family: Arial;
    background: #0b0c20;
    color: white;
    text-align: center;
}

.menu-container {
    margin-top: 100px;
}

button {
    padding: 12px;
    margin: 10px;
    background: #1a224c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #2a3570;
}

#array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    gap: 8px;
    margin: 20px;
}

.bar {
    width: 40px;
    background: linear-gradient(to top, #ff007f, #00d2ff);
}
